@inject IStringLocalizer<Resource> localizer

<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-10 me-auto mb-4">
                <h4 class="text-white mb-3"><img src="icon/logo white.svg" /></h4>
                <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2024 <strong>Freedom Group</strong></p>
                <br>
                @* <p class="copyright-text">Designed by <a href="https://www.tooplate.com/" target="_blank">Tooplate</a></p> *@
            </div>

            <div class="col-lg-5 col-8">
                <h5 class="text-white mb-3">@localizer["Sitemap"]</h5>

                <ul class="footer-menu d-flex flex-wrap">
                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">@localizer["NavHome"]</a></li>

                    <li class="footer-menu-item"><a href="contact" class="footer-menu-link">@localizer["NavContact"]</a></li>

                    <li class="footer-menu-item disabled"><a href="#" class="footer-menu-link">@localizer["NavAddTask"]</a></li>

                </ul>
            </div>

            <div class="col-lg-3 col-4">
                <h5 class="text-white mb-3">@localizer["ContactSocial"]</h5>

                <ul class="social-icon">

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                </ul>
            </div>

        </div>
    </div>
</footer>