@page "/question"

@using Freedom.WebAdmin.BaseComponents
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<h3>Вопросы от пользователей</h3>

@if (this.Questions == null)
{
    <p>Loading...</p>
}
else
{
    @* <a class="btn btn-primary" href="/question/create">Создать вопрос</a>
    <table class="table">
        <thead>
            <tr>
                <th>Имя отправителя</th>
                <th>Почта</th>
                <th>Тема</th>
                <th>Сообщение</th>
                <th>Дата отправки</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var question in Questions)
            {
                <tr>
                    <td>@question.fullname</td>
                    <td>@question.email</td>
                    <td>@question.subject</td>
                    <td>@question.descr</td>
                    <td>@question.created_at.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-secondary" href="/question/update/@question.id">Изменить</a>
                        <button class="btn btn-danger">Удалить</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
 *@
    <div class="row row-cols-1 row-cols-md-5 g-4 mb-3">
        @foreach (var question in Questions)
        {
            <div class="card text-center h-100 m-3">
                <div class="card-header">
                    @question.email - @question.fullname
                </div>
                <div class="card-body">
                    <h5 class="card-title">@question.subject</h5>
                    <p class="card-text">@question.descr</p>
                    <a class="btn btn-secondary" href="/question/update/@question.id">Изменить</a>
                    <button class="btn btn-danger" @onclick="()=> { DeleteID = question.id; Modal.Open();}">Удалить</button>
                </div>
                <div class="card-footer text-muted">
                    @question.created_at.ToShortDateString()
                </div>
            </div>
        }
    </div>


    <AppModal @ref="Modal">
        <Title>Notification</Title>
        <Body>
            Вы уверены, что хотите удалить этот продукт?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Да</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Отменить</button>
        </Footer>
    </AppModal>
}
