@page "/"
@* @using Microsoft.Extensions.Localization
@rendermode InteractiveServer
@using BlazorApp.Resources
@inject IStringLocalizer<Home> Localizer
@implements IDisposable *@

@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["NavHome"]</PageTitle>



<section class="slick-slideshow">
    <div class="slick-custom">
        <img src="icon/earthfon.jpeg" class="img-fluid" alt="Travel">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Freedom Group</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">@localizer["HomeSec1"]</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<section class="about section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-5"><span>@localizer["HomeSec2"]</span></h2>
            </div>
            <div class="col-12 text-center">
                <p class="mb-5">@localizer["HomeSec2_2"]</p>
            </div>

        </div>
    </div>
</section>


<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

            <div class="col-lg-6 col-12">
                <img src="icon/info.png" class="img-fluid" alt="info">
            </div>

            <div class="col-lg-6 col-12">
                <div class="px-5 py-5 py-lg-0">

                    <h2 class="mb-4">@localizer["HomeSec3Title"]</h2>

                    <ul class="lead mb-4">
                        <li>@localizer["HomeSec3Num1"]</li>
                        <li>@localizer["HomeSec3Num2"]</li>
                        <li>@localizer["HomeSec3Num3"]</li>
                        <li>@localizer["HomeSec3Num4"]</li>
                        <li>@localizer["HomeSec3Num5"]</li>
                        <li>@localizer["HomeSec3Num6"]</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container text-center pt-5">
    <hr />
</div>

<section>
    <div class="container p-5 mb-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card h-100 border rounded" style="border-color: #3DA2CB;">
                    <div class="d-flex justify-content-center h-25">
                        <img src="icon/samoTour.png" class="card-img-top" style="max-width: 200px;" alt="Samo Tour">
                    </div>
                    <div class="card-body h-75">
                        <div class="card-text">
                            <h3 class="text-center" style="color: #3DA2CB;">@localizer["HomeSec4TourTitle"]</h3>
                            <ul class="pt-3">
                                <li>@localizer["HomeSec4TourNum1"]</li>
                                <li>@localizer["HomeSec4TourNum2"]</li>
                                <li>@localizer["HomeSec4TourNum3"]</li>
                                <li>@localizer["HomeSec4TourNum4"]</li>
                                <li>@localizer["HomeSec4TourNum5"]</li>
                                <li>@localizer["HomeSec4TourNum6"]</li>
                                <li>@localizer["HomeSec4TourNum7"]</li>
                                <li>@localizer["HomeSec4TourNum8"]</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border rounded" style="border-color: #F05F23;">
                    <div class="d-flex justify-content-center h-25">
                        <img src="icon/samoIncoming.png" class="card-img-top" style="max-width: 200px;" alt="Samo Incoming">
                    </div>
                    <div class="card-body h-75">
                        <div class="card-text">
                            <h3 class="text-center" style="color: #F05F23;">@localizer["HomeSec4IncomingTitle"]</h3>
                            <ul class="pt-3">
                                <li>@localizer["HomeSec4IncomingNum1"]</li>
                                <li>@localizer["HomeSec4IncomingNum2"]</li>
                                <li>@localizer["HomeSec4IncomingNum3"]</li>
                                <li>@localizer["HomeSec4IncomingNum4"]</li>
                                <li>@localizer["HomeSec4IncomingNum5"]</li>
                                <li>@localizer["HomeSec4IncomingNum6"]</li>
                                <li>@localizer["HomeSec4IncomingNum7"]</li>
                                <li>@localizer["HomeSec4IncomingNum8"]</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border rounded" style="border-color: #3D3EC3;">
                    <div class="d-flex justify-content-center h-25">
                        <img src="icon/fdgSolutions.png" class="card-img-top" style="max-width: 200px;" alt="Solutions">
                    </div>
                    <div class="card-body h-75">
                        <div class="card-text">
                            <h3 class="text-center" style="color: #3D3EC3;">@localizer["HomeSec4SolutionsTitle"]</h3>
                            <ul class="pt-3">
                                <li>@localizer["HomeSec4SolutionsNum1"]</li>
                                <li>@localizer["HomeSec4SolutionsNum2"]</li>
                                <li>@localizer["HomeSec4SolutionsNum3"]</li>
                                <li>@localizer["HomeSec4SolutionsNum4"]</li>
                                <li>@localizer["HomeSec4SolutionsNum5"]</li>
                                <li>@localizer["HomeSec4SolutionsNum6"]</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* @code {

    protected override void OnInitialized() => languageService.Notify += StateHasChanged;
    protected async override Task OnAfterRenderAsync(bool firstRender)
    => await languageService.LoadCulture(LanguageConstant.DefaultCulture);
    public void Dispose() => languageService.Notify -= StateHasChanged;
} *@